/*
Theme Name: Custom theme Tienda
Theme URI: https://www.inoloop.com
Author: Inoloop
Author URI: https://www.inoloop.com
Description: Custom theme es un tema base creado de forma personalizada.

Version: 1

*/

* {
  outline: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  background-color: #fff;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #515151;
}

p {
  font-size: 14px;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

strong,
b {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
a.button,
body.home a.button {
  background: #099129;
  color: #fff;
  padding: 9px 20px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

button:hover,
a.button:hover,
body.home a.button:hover {
  background: #ca8017;
  color: #fff;
}

.w100 {
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cx {
  justify-content: center;
}

.cy {
  align-items: center;
  align-content: center;
}

.cxb {
  justify-content: space-between;
}

.cys {
  align-items: flex-start;
  align-content: flex-start;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  background-color: #fff;
  border: 1px solid #aaaaaa;
  padding: 4px;
  border-radius: 4px;
}

/*Navigation*/
nav .logo {
  line-height: 0;
  display: inline-block;
}

nav .up {
  color: #ca8017;
}

nav .up form input#search {
  background: #e6e6e6;
  color: #808080;
  border-radius: 15px;
  border: 0;
  padding: 6px;
}

nav .down {
  background: #099129;
  color: #fff;
}

nav .down .desk #menu-menu {
  display: flex;
  justify-content: center;
}

nav .down .desk #menu-menu li {
  display: inline-block;
  padding: 15px;
}

nav .down .desk #menu-menu li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

nav .down .desk #menu-menu li a::before {
  position: absolute;
  background: #ca8017;
  content: " ";
  bottom: -10px;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.7s;
}

nav .down .desk #menu-menu li a:hover::before,
nav .down .desk #menu-menu li.current_page_item a::before {
  opacity: 1;
}
.mob {
  display: none;
}
.mob li {
  margin: 10px 0;
}
button.toggle-m {
  background: #ca8017;
  padding: 4px;
  width: 32px;
}
.toggle-m span {
  background: #fff;
  height: 2px;
  width: 22px;
  margin: 5px 0;
  display: block;
}
.mob li a:hover {
  color: #ca8017;
}
.toggle-m {
  display: none;
}

@media screen and (max-width: 600px) {
  .desk {
    display: none;
  }
  .toggle-m {
    display: inline-block;
  }
  .mob {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  nav .logo img {
    height: 60px;
  }
  .up > div {
    margin-top: 10px;
  }
}

/*Tienda Sidebar*/
.sidebar {
  font-size: 14px;
  padding-top: 15px;
}

.sidebar > div {
  width: 25%;
  max-width: 400px;
  min-width: 300px;
  padding: 15px;
}

.sidebar button#toggleb {
  background: #099129;
  border: none;
  width: 30px;
  padding: 5px;
  position: fixed;
  height: 30px;
  cursor: pointer;
}

.sidebar .widget-content {
  margin-bottom: 30px;
  width: 100%;
}

.sidebar .widget-content h3 {
  margin-bottom: 10px;
  color: #099129;
}
.sidebar .noti-event li:hover {
  color: #ca8017;
}

.sidebar .product-categories li {
  font-size: 14px;
}

.sidebar .woocommerce-mini-cart li.mini_cart_item {
  position: relative;
  padding-left: 25px;
}

.sidebar .woocommerce-mini-cart li.mini_cart_item a.remove {
  left: 0;
  position: absolute;
}

.sidebar .woocommerce-mini-cart li.mini_cart_item .quantity {
  font-size: 13px;
}

.sidebar .woocommerce-mini-cart__buttons a.button {
  margin-right: 10px;
  margin-bottom: 5px;
}

.sidebar .attachment-woocommerce_thumbnail {
  width: 32px;
  height: auto;
}

main {
  position: relative;
  margin-bottom: 20px;
}
.content {
  width: 75%;
  padding: 0 20px;
  z-index: 1;
}

.main:active .sidebar > div {
  display: none;
}

.content h1 {
  font-size: 22px;
  color: #ca8017;
  margin-top: 20px;
}

.sidebar button {
  display: none;
}

.search-bt {
  background: #099129;
  border: 0;
  width: 30px;
  height: 30px;
  padding: 6px;
  border-radius: 15px;
  margin-left: 5px;
}

.carrito {
  width: 60px;
  display: inline-block;
}

.carrito div {
  background: #ca8017;
  display: inline-block;
  line-height: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.carrito p {
  font-size: 13px;
  margin-top: 4px;
}

.sidebar input[type="text"] {
  border-radius: 15px;
  background: #e6e6e6;
  border: 0;
  font-size: 14px;
  padding: 6px;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 100%;
  }

  .sidebar {
    position: absolute;
    left: 0;
    z-index: 2;
  }

  .single-product h2 {
    font-size: 18px;
  }

  .sidebar > div {
    display: none;
    background: white;
    box-shadow: 2px 2px 5px #8080804d;
    margin-top: 35px;
    position: fixed;
    height: 100%;
  }

  .sidebar button {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .content {
    width: 65%;
  }
}

/*Homepage*/
h2 {
  color: #ca8017;
  font-size: 20px;
}

h3 {
  color: #099129;
}

.titulo {
  text-align: center;
  margin: 70px 0 70px 0;
}

.home .categories {
  margin-bottom: 30px;
}

.categories .category {
  width: 300px;
  margin: 10px;
  height: 150px;
}

.categories .category img {
  width: 150px;
}

.categories .category div {
  width: 150px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  transition: background-color 1000ms linear;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
}

.categories .category:nth-child(2n) div {
  background-color: #ca8017;
}

.categories .category:nth-child(2n) div:hover {
  background-color: #099129;
}

.categories .category:nth-child(2n + 1) div:hover {
  background-color: #ca8017;
}

.categories .category:nth-child(2n + 1) div {
  background-color: #099129;
}

.woocommerce .content ul.products li:nth-child(5n) {
  margin: 0;
}

.woocommerce ul.products li h2 {
  font-size: 14px;
  color: #515151;
  height: 46px;
}

.woocommerce ul.products li.product .price {
  color: #099129 !important;
  font-weight: bold;
}

.woocommerce .quantity .qty {
  height: 30px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  font-size: 14px !important;
  text-align: center;
}

.woocommerce .price_slider_wrapper .ui-widget-content {
  height: 5px;
  background-color: #ebe9eb !important;
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  margin-bottom: 25px;
}

.woocommerce ul.cart_list li a,
.woocommerce ul.product_list_widget li a {
  color: #515151;
}
.woocommerce-terms-and-conditions-link{
  color: #099129;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background-color: #099129!important;
}
.woocommerce-info{
  border-top-color:#ca8017!important;
}
.woocommerce-info::before {
  color: #ca8017!important;
}
.woocommerce .ui-slider .ui-slider-handle {
  background-color: #ca8017 !important;
  border: 0;
  width: 20px;
  height: 20px;
  top: -8px;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
  background-color: #ca8017 !important;
}

.woocommerce ul.products li.product .button,
.woocommerce .widget-area.sidebar .button,
.woocommerce .content button.button,
.woocommerce a.button.alt {
  color: #fff !important;
  background: #ca8017 !important;
  font-weight: normal;
}

.woocommerce ul.products li.product .button:hover,
.woocommerce .widget-area.sidebar .button:hover,
.woocommerce .content button.button:hover,
.woocommerce a.button.alt:hover {
  background: #099129;
}

.sidebar .product-categories li a {
  color: #515151;
}

.sidebar .product-categories li a {
  color: #515151;
}

/*Product*/
.single-product h1 {
  margin-bottom: 30px;
}

.single-product h2 {
  margin-bottom: 10px;
  color: #099129;
}
.woocommerce div.product{
  margin-top: 50px;
}
.woocommerce div.product form.cart div.quantity {
  height: 30px;
}

/* Cart */
.woocommerce-cart-form table thead {
  background: #099129;
  color: #fff;
}

/*Comments*/
.comment-list {
  list-style: none;
  padding: 0;
}

.comment-form-comment label {
  display: block;
}

a.comment-reply-link {
  background: #ca8017 !important;
  color: #fff;
  padding: 9px 20px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: inline-block;
}

a.comment-reply-link:hover {
  background: #099129;
}

.comment-meta {
  font-size: 13px;
  color: #808080;
}

/*News*/
section.news .new {
  width: 40%;
  max-width: 400px;
  margin: 10px 10px 20px 10px;
  align-content: flex-start;
  min-width: 300px;
}

section.news .new > a {
  display: inline-block;
  line-height: 0;
}

section.news .new h3 {
  color: #ca8017;
}

section.news .new p {
  color: #515151;
  text-align: justify;
}

section.news .new div {
  padding: 15px;
  border: 2px solid #e6e6e6;
  border-top: 0;
}

/*Nosotros*/
section.hist img,
section.val-org img {
  width: 40%;
  padding: 10px;
  max-width: 360px;
}

section.hist div,
section.val-org div {
  width: 60%;
  height: auto;
  max-width: 650px;
  padding: 10px;
}

section.val-org span {
  color: #ca8017;
  font-weight: bold;
}

section.valores div {
  width: 280px;
  margin: 20px;
  text-align: justify;
  position: relative;
}

section.valores div:after {
  content: "";
  background: #ca8017;
  width: 80px;
  height: 5px;
  position: absolute;
  bottom: -20px;
  right: 0;
}

section.marcas img {
  margin: 10px;
}

section.galeria {
  margin: 60px 0;
}
@media screen and (max-width: 600px) {
  section.hist img,
  section.val-org img {
    width: 80%;
  }
  section.hist div,
  section.val-org div {
    width: 95%;
  }
}

/*Capacitacion*/
.video {
  width: 380px;
  margin: 10px;
}

.video h4 {
  margin-top: 15px;
}

@media screen and (max-width: 450px) {
  .video {
    width: 95%;
    margin: 0 0 10px 0;
  }
  .video iframe {
    max-width: 100%;
  }
}

/*Footer*/
footer {
  background: #e6e6e6;
}

footer > div {
  justify-content: space-around;
  margin: 40px 0;
}

footer div div {
  margin-left: 20px;
  text-align: right;
}

footer div p {
  margin: 0px;
}

footer div.cpr {
  text-align: center;
  background: #099129;
  color: #fff;
  padding: 10px 0;
  margin: 0;
}

/*SLICK*/
.home ul.products li.product {
  padding: 20px !important;
  width: inherit !important;
}

.slick-dots {
  padding-bottom: 15px !important;
}

.container-slick {
  width: 80% !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: initial !important;
  color: white !important;
  background-color: #099129 !important;
  font-weight: bold;
  padding: 5px;
  padding-top: 3px;
  border-radius: 100%;
}

/*SLICK*/
